@using AndersonSurveySystemModel;
@model Survey

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<div class="row">
    <div class="col-sm-12">
        <form action="~/Survey/Update" method="post">
            @{
                Html.RenderPartial("_Survey", Model);
            }
        </form>
    </div>
</div>