
@{
    ViewBag.Title = "Index";
}

<h1> Admin</h1>


<div ng-controller="RateController as model" ng-init="model.List()">
    <form method="post" action="/Rate/Create">
    @*<a href="/Survey/Survey" type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i> Add</a><br /><br />*@


    <div class="row">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#RateModal" ng-click="model.CreateModal(Rate)" style="float: right; margin-right: 35px"><i class="glyphicon glyphicon-plus-sign"></i> Add</button>
    </div><br />
    <table class="table table-hover table-sm table-bordered ">
        <thead>
            <tr class="active">
                <th><div align="center">Question</div></th>


                <th style="width: 175px"><div align="center">Action</div></th>
                <th style="width: 175px"><div align="center">Rate 1-10</div></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="Rate in model.Rates">
                <td><span ng-bind="Rate.Rates"></span></td>

                <td>
                    <button type="button" class="btn btn-info " data-toggle="modal" ng-click="model.UpdateModal(Rate)" data-target="#RateModal"><i class="glyphicon glyphicon-edit"></i> Edit</button>
                    @*<a ng-href="{{'/Rate/Update/' + Rate.RateId}}" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> Edit</a>*@
                    <a href="" ng-click="model.Delete(Rate)" type="button" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i> Delete</a>
                </td>
                <td>
                    <select class="form-control" data-placeholder="-Select your rate-" name="[{{$index}}].Rates" ng-model="Rate.Rates" ng-required="true">

                        <option name="Rate[1].Rates" value="1">1</option>
                        <option name="Rate[2].Rates" value="2">2</option>
                        <option name="Rate[3].Rates" value="3">3</option>
                        <option name="Rate[4].Rates" value="4">4</option>
                        <option name="Rate[5].Rates" value="5">5</option>
                        <option name="Rate[6].Rates" value="6">6</option>
                        <option name="Rate[7].Rates" value="7">7</option>
                        <option name="Rate[8].Rates" value="8">8</option>
                        <option name="Rate[9].Rates" value="9">9</option>
                        <option name="Rate[10].Rates" value="10">10</option>

                    </select>
                </td>
            </tr>
        </tbody>
    </table>
       

   

   

    <input type="submit" />
    </form>

                    @*<button type="button" class="btn btn-primary" ng-click="model.Create()" ng-show="model.Rate.Rates != 0">Add</button>

                </div>*@
    