
@{
    ViewBag.Title = "Index";
}
<div class="navbar-header navbar-right">
    <a class="navbar-brand" href="#">
        <img class="itslLogo" src="~/Content/Images/ITSL logo-v2.jpg">
    </a>
</div>
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li>
            <a class="navbar-brand" href="~/Home/Index">
                <i class="fa fa-home" aria-hidden="true"></i>
                Home
            </a>
        </li>
        <li>
            <a class="navbar-brand" href="~/Home/About">
                <i class="fa fa-info" aria-hidden="true"></i>
                About
            </a>
        </li>
    </ul>
</div><br />
<br />
<div ng-controller="QuestionResultController as model" ng-init="model.Initialise()">
    <div class="row">
        <div class="col-xs-4">
            <input type="date" ng-model="model.QuestionResultFilter.From" ng-change="" class="form-control" />
        </div>
        <div class="col-xs-4">
            <input type="date" ng-model="model.QuestionResultFilter.To" ng-change="" class="form-control" />
        </div>
        <button ng-click="model.Read()" class="btn btn-primary btn-sm">OK</button>
        <button ng-click="model.ReadAnsweredQuestion()" class="btn btn-primary btn-sm">Show Answers</button>
    </div><br />
    <p><center>IT Service Desk Customer Satisfaction Survey Result</center></p>
    <div class="row">
        <div class="col-xs-8">
            <canvas id="bar" class="chart chart-bar" chart-data="model.Rate" chart-labels="model.Name" chart-series="model.Surveys" chart-options="model.Options"
                    chart-colors="model.Colors" chart-legend="true"></canvas>
        </div>
    </div>
    <br /><br /><br /><br />
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            Answer
                        </th>
                        <th>
                            AnsweredSurveyId
                        </th>
                        <th>
                            QuestionId
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="answeredQuestion in model.AnsweredQuestions">
                        <td>
                            <span ng-bind="answeredQuestion.Answer"></span>
                        </td>
                        <td>
                            <span ng-bind="answeredQuestion.AnsweredSurveyId"></span>
                        </td>
                        <td>
                            <span ng-bind="answeredQuestion.QuestionId"></span>
                        </td>
                        <td>
                            <span ng-bind="answeredQuestion.Description"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {{model.AnsweredSurvey}}

</div>
