
@{
    ViewBag.Title = "Answered";
}


<b>
    <div class="col-sm-offset-3">
        
      Dear @Model.FirstName,
        </div>
</b>


<p>
    <div class="col-sm-offset-3">

       Thank you very much for spending time to let us know your service experience with us!
    </div>
</p>
<p>
    <div class="col-sm-offset-3">

        Rest assured that we would use your feedback to keep improving our service.
    </div>
</p>