
@{
    ViewBag.Title = "DynamicStructured";
}

<h2>DynamicStructured</h2>


  <div ng-app="App">
    <div class="panel panel-default">
        <div class="panel-heading">
            Bar
        </div>
        <div class="panel-body">
            <div ng-controller="DynamicGraphController as model" ng-init="model.Initialise()">
                <canvas id="bar" class="chart chart-bar"
                        chart-data="model.Data" chart-labels="model.Labels">
                    chart-series="model.Series"
                </canvas>
            </div>
        </div>
    </div>
</div>

@section scripts {
  
<script src="~/Scripts/Angular/app.module.js"></script>
<script src="~/Scripts/Angular/Controller/DynamicGraph.Controller.js"></script>
<script src="~/Scripts/Angular/Service/DynamicGraph.Service.js"></script>
    }