
@{
    ViewBag.Title = "StaticStructured";
}
<h2>StaticStructured</h2>
<div ng-app="App">
    <div class="panel panel-default">
        <div class="panel-heading">
            Bar
        </div>
        <div class="panel-body">
            <div ng-controller="StaticGraphController as model" ng-init="model.Initialise()">
                <canvas id="bar" class="chart chart-bar"
                        chart-data="model.Data" chart-labels="model.Labels">
                    chart-series="model.Series"
                </canvas>
            </div>
        </div>
    </div>
</div>
