
@{
    ViewBag.Title = "Create";
}

<div ng-controller="AdminController as model" ng-init="model.List()">
    <div class="form-group">
        <br />

        <label for="FirstName">First Name:</label>
        <input type="text" class="form-control" id="FirstName" ng-model="model.Admin.FirstName" /> <br />

        <label for="LastName">Last Name:</label>
        <input type="text" class="form-control" id="LastName" ng-model="model.Admin.LastName" /> <br />

        <label for="UserName">User Name:</label>
        <input type="text" class="form-control" id="UserName" ng-model="model.Admin.UserName" /> <br />

        <label for="Password">Password:</label>
        <input type="password" class="form-control" id="Password" ng-model="model.Admin.Password" /> <br />

    </div>

    <a href="/Admin/Index2" class="btn btn-info" id="myButton" role="button" ng-click="model.Create() " style="margin-left: 50px;float: left"><i class="glyphicon glyphicon-plus-sign"></i> Add Account</a>

</div>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/Admin/Index";
    };
</script>
