
@{
    ViewBag.Title = "Index";
}

<style>
    input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 15%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


</style>

<div ng-controller="AdminController as model" ng-init="model.List()">
    @*<a href="/Survey/Survey" type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i> Add</a><br /><br />*@

    <br><br>
   <a href="/Survey/Index" class="btn btn-primary btn-lg"> Questionaire </a>
    <a href="/Email/Index" class="btn btn-primary btn-lg"> List of Emails </a>
    <a href="/Admin/Report" class="btn btn-primary btn-lg">Survey Results</a>
    
    <h3> List of Accounts </h3>
    <br><br>

    <div class="row">
        <button type="button" class="btn btn-success" style="float: right; margin-right: 35px"><i class="glyphicon glyphicon-plus-sign"></i> Add Admin Account</button>
    </div><br />

    <table class="table table-hover table-sm table-bordered ">
        <thead>
            <tr class="active">
                <th><div align="center">Admin Id</div></th>
                <th><div align="center">First Name</div></th>
                <th><div align="center">Last Name</div></th>
                <th><div align="center">Username</div></th>
                <th><div align="center">Password</div></th>
                <th style="width: 175px"><div align="center">Action</div></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="Admin in model.Admins">
                <td><div align="center"><span ng-bind="Admin.AdminId"></span></div></td>
                <td><span ng-bind="Admin.FirstName"></span></td>
                <td><span ng-bind="Admin.LastName"></span></td>
                <td><span ng-bind="Admin.UserName"></span></td>
                <td><span ng-bind="Admin.Password"></span></td>
                <td>
                
                    <a href="" ng-click="model.Delete(Admin)" type="button" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i> Delete</a>
                
                </td>
            </tr>
        </tbody>
    </table>
</div>