
@{
    ViewBag.Title = "MainPage";
}

<style>
    .jumbotron {
        background-color: #ffffff; /* White */
       
        border-color:green;
        float:initial;
     
    }
    

</style>



    <br /> <br /> <br /><br /> <br /> <br />
    <div class="container">


        
        <div class="jumbotron">


            <div align="center">  <img src="~/Content/Images/ITSL(new).png" width="550" height="250" /> </div>
        </div>
    </div>
