@{
    ViewBag.Title = "MainPage";
}

<style>
    .jumbotron {
        background-color: #ffffff;
        border-color:green;
        float: initial;
    }
</style>
<br /> <br />
@*<a href="/Admin/Index" class="btn btn-primary btn-lg"> List of Admin Accounts </a>
<a href="/Survey/Index" class="btn btn-primary btn-lg"> Questionaire </a>
<a href="/Email/Index" class="btn btn-primary btn-lg"> List of Emails</a>*@
@*<a href="/Admin/Report" class="btn btn-primary btn-lg"> Survey Results </a>*@
<br /><br /><br />


<div class="container">
    <div class="jumbotron">
        <div class="w3-panel w3-border w3-border-red">

            <div align="center">  <img src="~/Content/Images/ITSL(new).png" width="550" height="300" /> </div>
        </div>
    </div>
</div>
<br />
    <div class="footer text-muted">
        &copy; 2017. - Anderson Group BPO Inc.
    </div>