@{
    ViewBag.Title = "Index";
}
<div ng-controller="QuestionController as model" ng-init="model.Initialise()">
    <div class="row">
        <div class="col-sm-4">
            <a href="../Question/Create" class="btn btn-default">Create</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-sm table-bordered ">
                <thead>
                    <tr class="thead-inverse">
                        <th>QuestionId</th>
                        <th>SurveyId</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickableRow" ng-repeat="question in model.Question">
                        <td><span ng-bind="question.QuestionId"></span></td>
                        <td><span ng-bind="question.SurveyId"></span></td>
                        <td><span ng-bind="question.Description"></span></td>
                                
                        <td ng-click="$event.originalEvent.dropdown = true">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click ="model.GoToUpdatePage(question.QuestionId)">Edit</a></li>
                                    <li><a href="#" ng-click="model.Delete(question.QuestionId)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>