@using AndersonSurveySystemModel;
@model Question

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<div class="row">
    <div class="col-sm-12">
        <form action="~/Question/Update" method="post">
            @{
                Html.RenderPartial("_Question", Model);
            }
        </form>
    </div>
</div>