@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-sm-offset-3">
        <form action="~/Credential/Login" method="post">
            <div class="form-group">
                 @Html.ValidationSummary(true, "", new { @class="alert alert-danger"})
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" style="width:300px;" placeholder="Username" name="Username" required>
            </div>
            <div class="form-group"> 
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" style="width:300px;" placeholder="Password" name="Password" required>
            </div>
            <button type="submit" class="btn btn-success"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</button>
        </form>
    </div>
</div>


