body {
    padding-top: 20px;
    padding-bottom: 50px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*Navbar*/
.navbar {
    border-bottom-color: #0026ff;
    border-width: 0 1px 4px 1px;
    background-color: white;
    height: 85px;
    position: relative;
}

.andersonGroupLogo {
    max-width: 150px;
    margin-top: -7px;
}

.itslLogo {
    max-width: 100px;
    margin-top: -25px;
}

.alert {
    width:300px;
}
/*Navbar*/