
@{
    ViewBag.Title = "About";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Developed By</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                Sophia Lorraine Tesalona
                <br />
                <span class="badge">2017-06 - 2017-09</span>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                Stephanie Villanueva
                <br />
                <span class="badge">2017-06 - 2017-09</span>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/hazel-joy-gonzales-296902151">
                    Hazel Joy R Gonzales
                    </a>
                    <br />
                    <span class="badge">2017-09 - 2017-11</span>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://ph.linkedin.com/in/adrianne-claude-tubig-a4847333">
                    Adrianne Claude R Tubig
                </a>
                <br />
                <span class="badge">2017-10</span>
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Updates</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-11-03">
                November 3 2017
                <ul id="2017-11-03" class="collapse">
                    <li>
                        Create About Page
                    </li>
                </ul>
            </li>
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-11-02">
                November 2 2017
                <ul id="2017-11-02" class="collapse">
                    <li>
                        Removed Gridline of the chart
                    </li>
                    <li>
                        Add Title of the chart
                    </li>
                    <li>
                        Change the legend of the chart (Number into Name)
                    </li>
                </ul>
            </li>
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-10-26">
                October 26 2017
                <ul id="2017-10-26" class="collapse">
                    <li>
                        Change background Color of the Survey
                    </li>
                    <li>
                        Make shortened the navigation bar of the date
                    </li>
                    <li>
                        Add search button on the (QuestionResult)
                    </li>
                    <li>
                        Edited the default questions of the Survey
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>


