
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<html>
<body>
    <br><br>
    <div class="container">

        <form method="post" action="">

            <p>Dear (Customer Name), </p>

            <p>
                Thank you for giving us the opportunity to provide assistance. Please help us by taking a
                few minutes let us know the service experience that you have received so far. Your feedback
                is highly appreciated and will definitely help the ITSL Service Desk meet your expectations.
            </p>

            <p><br><br>Ticket Number: </p>
            <p>Description:  </p>
            <br><br>
            <p><b>Please rate your expectations below 1 is the lowest and 10 is the highest</b></p>

            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td> IT Service Desk had the ability to solve your issues</td>
                        <td>
                            Please select a value from 1 t0 10
                            <select data-placeholder="-Select your rate-" class="select" id="one" required>
                                <option>Select your Rate</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td>The ITService Desk displays good communication skills</td>
                        <td>
                            Please select a value from 1 t0 10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <select data-placeholder="-Select your rate-" class="select" id="two" required>
                                <option></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td>The Information provided to you when you contacted the IT Service Desk was relevant</td>
                        <td>
                            Please select a value from 1 t0 10 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <select data-placeholder="-Select your rate-" class="select" id="three" required>
                                <option></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td>The ITService Desk service provided met your expectations</td>
                        <td>
                            Please select a value from 1 t0 10 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <select data-placeholder="-Select your rate-" class="select" id="four" required>
                                <option></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td>Was your help desk representative Courteous and Friendly?</td>
                        <td>
                            Please select a value from 1 t0 10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <select data-placeholder="-Select your rate-" class="select" id="five" required>
                                <option></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td>Helpfulness of support staff</td>
                        <td>
                            Please select a value from 1 t0 10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <select data-placeholder="-Select your rate-" class="select" id="six" required>
                                <option></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td>Technical expertise of support staff</td>
                        <td>
                            Please select a value from 1 t0 10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <select data-placeholder="-Select your rate-" class="select" id="seven" required>
                                <option></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>



            <br>
            <br>
            <p>Additional Comments(Optional)</p>
            <textarea rows="3" cols="5" class="form-control" placeholder="Enter your comment here"></textarea>
            <br>
            <br>


            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">OK</button>



            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Submit</h4>

                        </div>
                        <div class="modal-body">
                            <p>Do you want to submit?</p>

                        </div>
                        <div class="modal-footer">


                            <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>

                            <a href="/Home/Index" class="btn btn-primary btn-lg">Submit</a>

                        </div>
                    </div>
                </div>
            </div>
</form>
    </div>
</body>
</html>